pypdf
langchain-core
langchain-community
langchain-ollama
langchain-text-splitters
langchain_huggingface
faiss-cpu
###transformers>=4.33.2
sentence-transformers
fastapi
pydantic
uvicorn 
cachetools
redis
python-dotenv
openai