HF_REPO_ID=meta-llama/Llama-3.1-8B-Instruct
CHUNK_SIZE=600
CHUNK_OVERLAP=100
EMBEDDING_MODEL=all-MiniLM-L6-v2
REDIS_URL=redis://redis:6379/0
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

GEMINI_MODEL=gemini-2.5-flash

HF_TOKEN= xxx
LLAMA_HF= xxx
HUGGINGFACE_TOKEN = xxxx
API_KEY = xxxx-g
GROQ_API_KEY = xxxx
OPEN_ROUTER_API_KEY = xxxx
GEMINI_API_KEY = exp
GEMINI_15_API_KEY = xxx
OLLAMA_URL= http://ollama:11434
OLLAMA_MODEL= llama3.1-with-adapter
ADAPTER_PATH=./docker/Llama-3.1-Virtual-Patient-MimicIV_Ver2.0
VP_HISTORY_TTL=3600
VP_HISTORY_MAX=50
