torch
torchvision
torchaudio

datasets
peft
huggingface_hub
psutil
matplotlib
python-dotenv
rich

trl==0.8.6
transformers>=4.43.1
bitsandbytes>=0.43.1
accelerate>=0.32.0
cachetools
fastapi
uvicorn[standard]
